* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", "Sans-Serif";
  background: linear-gradient(
    90deg,
    rgba(0, 151, 255, 1) 0%,
    rgba(6, 117, 159, 1) 100%
  );
}

h1 {
  color: azure;
  margin: 3%;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 3%;

  .card {
    width: 20rem;
    height: max-content;
    border-radius: 0.8rem;
    padding: 0.8em;
    background-color: azure;
    box-shadow: 10px 10px 80px -14px rgba(0, 0, 0, 0.65);

    .title {
      text-align: center;
    }

    .overview {
      margin-top: 2px;
    }
  }

  .card-img {
    img {
      display: block;
      margin: 0 auto;
      width: 12rem;
      height: 12rem;
      border: 5px solid rgba(0, 151, 255, 1);
      border-radius: 100%;
      margin: 0 auto;
      margin-bottom: 0.4em;
      object-fit: cover;
    }
  }
}
